:root{
  --main-font: sans-serif;
  --theme-color: #ff6171;
  --secondary-color: #f7ed20;
  --light-color: white;
  --theme-dark: #781a08;
}

h1,li{
  font-family: var(--main-font);
}
body{
  overflow-x: hidden;
}


/* Navbar + hamburger menu */



.site-navbar{
  /* text-align: center; */
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  width: 40vw;
  right: -45vw;
  top: 0;
  bottom: 0;
  /* height: 100vh; */
  background-color: var(--theme-color);
  transition: right 1s ease;
  z-index: 10;
  overflow-y: hidden;
  overflow-x: hidden;
}
.navbar-active{
  right: 0;
}
.menu-close{
  width: 9vh;
  height: 9vh;
  position: absolute;
  right: 1vw;
  top: 1vh;
  transition: fill 1s ease;
  fill: var(--light-color);
}
.menu-close:hover{
  fill: var(--secondary-color);
}
.site-id{
  text-align: center;
  position: fixed;
  top: 1vh;
  left: 25vw;
}

.burger{
  display: block;
  position: absolute;
  z-index: 10;
  width: 7vh;
  height: 7vh;
  top: 1vh;
  right: 2vw;
  transition: fill 1s ease;
}
.burger:hover{
  fill: var(--secondary-color);
}

.nav-menu{
  font-size: 5vw;
  margin-top: 10vh;
  list-style-type: none;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
}

.navbar-logo{
  color: var(--light-color);
  font-size: 7vw;
  width: 100%;
  /* margin: auto; */
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 0;
  user-select: none;
}
.nav-link{
  cursor: pointer;
}
.nav-link:hover{
  text-decoration: underline;
}

.social-links{
  position: absolute;
  width: 70%;
  padding: 2vh 15%;
  bottom: 0;
  height: 10vh;
  background-color: var(--theme-dark);
  display: flex;
  justify-content: space-between;

}
.link-icon{
  fill: var(--light-color);
  position: relative;
  top: 3vh;
  width: 3vw;

}
.link-icon svg{


}
.link-icon:hover path{

  fill: var(--secondary-color);
}
.link-icon path{
  fill:white;
  transition: fill 1s ease;
}

/* End Navbar */
