/* GLOBAL PROEPERTIES */
@keyframes fade-in {
from{
  opacity: 0;
}
to{
  opacity: 1;
}
}
:root{
  --text-font: adobe-garamond-pro, serif;
  --theme-color: #df482f;
  --secondary-color: #f0b360;
  --light-color: white;
  --theme-blue: #316fa5;
  --theme-darkblue: #234f76;
  --heading-font:futura-pt, sans-serif;
  --accent-font: letter-gothic-std, monospace;
}
p{
  font-family: var(--text-font);
}
h1,li,h3,h2{
  font-family: var(--heading-font);
}
body{
  overflow-x: hidden;
}
a{
  color: inherit;
}

p{
  font-size: 3em;
}


/* Navbar + hamburger menu */



.site-navbar{
  /* text-align: center; */
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  width: 40vw;
  right: -45vw;
  top: 0;
  bottom: 0;
  /* height: 100vh; */
  background-color: var(--theme-color);
  transition: right 1s ease;
  z-index: 10;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: -1px 1px;
}
.navbar-active{
  right: 0;
}
.menu-close{
  width: 9vh;
  height: 9vh;
  position: absolute;
  right: 1vw;
  top: 1vh;
  transition: fill 1s ease;
  fill: var(--light-color);
}
.menu-close:hover{
  fill: var(--secondary-color);
}
.site-id{
  text-align: center;
  position: fixed;
  top: 1vh;
  left: 25vw;
}

.burger{
  display: block;
  position: absolute;
  z-index: 10;
  width: 7vh;
  height: 7vh;
  top: 1vh;
  right: 2vw;
  transition: fill 1s ease;
}
.burger:hover{
  fill: var(--secondary-color);
}

.nav-menu{
  font-size: 5vw;
  margin-top: 10vh;
  list-style-type: none;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
}

.navbar-logo{
  color: var(--light-color);
  font-size: 7vw;
  width: 100%;
  /* margin: auto; */
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0;
  user-select: none;
}
.nav-link{
  cursor: pointer;
}
.nav-link:hover{
  text-decoration: underline;
}

.social-links{
  position: absolute;
  width: 70%;
  padding: 2vh 15%;
  bottom: 0;
  height: 10vh;
  background-color: var(--theme-darkblue);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -1px;

}
.link-icon{
  fill: var(--light-color);
  position: relative;
  top: 3vh;
  width: 3vw;

}
.link-icon svg{


}
.link-icon:hover path{

  fill: var(--secondary-color);
}
.link-icon path{
  fill:white;
  transition: fill 1s ease;
}

/* End Navbar */


/* MAGAZINE POST */

.magpost-intro-card{
  width: 100vw;
  height: 100vh;
  background-image: url("test-lores-image.jpg");
  background-color: var(--light-color);
  background-size: cover;
  margin: auto;
  filter: blur(5px);
  -webkit-filter: blur(5px;)
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.magpost-top-info{
  text-align: center;
  position: absolute;
  top: 30%;
  margin: 0;
  color: var(--light-color);
  background-color: var(--theme-color);
  width: 40vw;
  margin-left: 30vw;
  opacity: 0;
  animation: fade-in 2s ease forwards;
  box-shadow: 1px 1px 1px black;

}
.magpost-hed{
  font-size: 4em;
  margin-bottom: 0;
  /* margin-top: 20%; */
  text-align: center;
}
.magpost-dek{
  margin: 0;
  text-align: center;
  font-size: 2em;
  /* font-family: var(--accent-font); */
}
.magpost-byline{
  padding-bottom: .5em;
  margin-top: 5vh;
  font-family: 1em;
  font-family: var(--accent-font);
}
